@font-face {
  font-family: "Virgil";
  src: url("/fonts/Virgil.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Cascadia";
  src: url("/fonts/Cascadia.woff2");
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #1864ab;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hand-drawn {
  font-family: "Virgil", sans-serif;
}

.monospaced {
  font-family: "Cascadia", monospace;
}

.helper {
  color: #368888;
}
